body {
    margin: 0;
}

.top-bar {
    height: 8px;
    background-image: linear-gradient(rgb(32, 32, 32), rgba(32, 32, 32, 0.8));
}

.browse-collection-page {
    height: calc(100vh - 8px);
    max-height: calc(100vh - 8px);
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.works-navbar {
    display: flex;
    flex-flow: column;
    padding: 1px 1px 0 0;
    background-color: darkslategrey;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.5);
}

.works-navbar-brand {
    margin-top: 24px;
    margin-bottom: 0px;
    text-align: center;
}

.works-navbar-heading {
    color: cyan;
}

.works-navbar-title {
    margin-bottom: 0;
    padding: 8px 0;
    background-color: black;
    color: beige;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.works-navbar-content {
    flex-grow: 1;
    text-align: center;
}

.works-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.works-nav-item {
    padding: 32px 12px;
    color: #f0f0f0;
    font-size: 18pt;
}

.works-nav-item:hover {
    background-color: lightgray;
    color: black;
}

.works-nav-item-separator {
    margin: 0 auto;
    width: 95%;
    height: 1px;
    background-image: linear-gradient(to right, darkslategrey, gray, darkslategrey);
}

.work-view {
    padding: 8px;
    background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 7px, rgba(0, 0, 0, 0.05) 7px, rgba(0, 0, 0, 0.05) 8px),
                repeating-linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 7px, rgba(0, 0, 0, 0.05) 7px, rgba(0, 0, 0, 0.05) 8px);
}

.works-carousel, .works-carousel-show, .works-carousel-slide {
    height: 100%;
}

.works-carousel-slide {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, 0.5) );
}

/* .works-carousel-slide > img {
    width: auto;
    height: 100%;
    max-height: 100%;
    max-height: calc(100vh - 32px);
} */